Improve string handling

## Special string handling

Currently all strings of the library are represented with `Text`, but that doesn't take into account that some fields of the WebAuthn spec have additional requirements for such values, specifically

- [`name`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialentity-name)
  > When inherited by [`PublicKeyCredentialRpEntity`](https://www.w3.org/TR/webauthn-2/#dictdef-publickeycredentialrpentity) it is a [human-palatable](https://www.w3.org/TR/webauthn-2/#human-palatability) identifier for the [Relying Party](https://www.w3.org/TR/webauthn-2/#relying-party), intended only for display. For example, "ACME Corporation", "Wonderful Widgets, Inc." or "ОАО Примертех".     
  >   - [Relying Parties](https://www.w3.org/TR/webauthn-2/#relying-party) SHOULD perform enforcement, as prescribed in Section 2.3 of [\[RFC8266\]](https://www.w3.org/TR/webauthn-2/#biblio-rfc8266) for the Nickname Profile of the PRECIS FreeformClass [\[RFC8264\]](https://www.w3.org/TR/webauthn-2/#biblio-rfc8264), when setting [`name`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialentity-name)'s value, or displaying the value to the user.         
  >   - This string MAY contain language and direction metadata. [Relying Parties](https://www.w3.org/TR/webauthn-2/#relying-party) SHOULD consider providing this information. See [§ 6.4.2 Language and Direction Encoding](https://www.w3.org/TR/webauthn-2/#sctn-strings-langdir) about how this metadata is encoded.
  > ---
  > When inherited by [`PublicKeyCredentialUserEntity`](https://www.w3.org/TR/webauthn-2/#dictdef-publickeycredentialuserentity), it is a [human-palatable](https://www.w3.org/TR/webauthn-2/#human-palatability) identifier for a user account. It is intended only for display, i.e., aiding the user in determining the difference between user accounts with similar [`displayName`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialuserentity-displayname)s. For example, "alexm", "alex.mueller@example.com" or "+14255551234".
  >   - The [Relying Party](https://www.w3.org/TR/webauthn-2/#relying-party) MAY let the user choose this value. The [Relying Party](https://www.w3.org/TR/webauthn-2/#relying-party) SHOULD perform enforcement, as prescribed in Section 3.4.3 of [\[RFC8265\]](https://www.w3.org/TR/webauthn-2/#biblio-rfc8265) for the UsernameCasePreserved Profile of the PRECIS IdentifierClass [\[RFC8264\]](https://www.w3.org/TR/webauthn-2/#biblio-rfc8264), when setting [`name`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialentity-name)'s value, or displaying the value to the user.
  >   - This string MAY contain language and direction metadata. [Relying Parties](https://www.w3.org/TR/webauthn-2/#relying-party) SHOULD consider providing this information. See [§ 6.4.2 Language and Direction Encoding](https://www.w3.org/TR/webauthn-2/#sctn-strings-langdir) about how this metadata is encoded.
- [`displayName`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialuserentity-displayname):
   > - [Relying Parties](https://www.w3.org/TR/webauthn-2/#relying-party) SHOULD perform enforcement, as prescribed in Section 2.3 of [\[RFC8266\]](https://www.w3.org/TR/webauthn-2/#biblio-rfc8266) for the Nickname Profile of the PRECIS FreeformClass [\[RFC8264\]](https://www.w3.org/TR/webauthn-2/#biblio-rfc8264), when setting [`displayName`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialuserentity-displayname)'s value, or displaying the value to the user.
  > - This string MAY contain language and direction metadata. [Relying Parties](https://www.w3.org/TR/webauthn-2/#relying-party) SHOULD consider providing this information. See [§ 6.4.2 Language and Direction Encoding](https://www.w3.org/TR/webauthn-2/#sctn-strings-langdir) about how this metadata is encoded.

## `DOMString` vs `USVString`

There's also the problem regarding `DOMString` and `USVString`, both of which are currently represented as `Text`:
- [`DOMString`](https://webidl.spec.whatwg.org/#idl-DOMString):
  > The [DOMString](https://webidl.spec.whatwg.org/#idl-DOMString) type corresponds to the set of all possible sequences of [code units](https://webidl.spec.whatwg.org/#dfn-code-unit). Such sequences are commonly interpreted as UTF-16 encoded strings [[RFC2781]](https://webidl.spec.whatwg.org/#biblio-rfc2781) although this is not required.
  >
  > Nothing in this specification requires a [DOMString](https://webidl.spec.whatwg.org/#idl-DOMString) value to be a valid UTF-16 string. For example, a DOMString value might include unmatched surrogate pair characters. However, authors of specifications using Web IDL might want to obtain a sequence of [Unicode scalar values](http://www.unicode.org/glossary/#unicode_scalar_value) given a particular sequence of [code units](https://webidl.spec.whatwg.org/#dfn-code-unit).
- [`USVString`](https://webidl.spec.whatwg.org/#idl-USVString):
  > The [USVString](https://webidl.spec.whatwg.org/#idl-USVString) type corresponds to the set of all possible sequences of [Unicode scalar values](http://www.unicode.org/glossary/#unicode_scalar_value), which are all of the Unicode code points apart from the surrogate code points.
  >
  > :warning: Specifications should only use USVString for APIs that perform text processing and need a string of Unicode scalar values to operate on. Most APIs that use strings should instead be using [DOMString](https://webidl.spec.whatwg.org/#idl-DOMString), which does not make any interpretations of the [code units](https://webidl.spec.whatwg.org/#dfn-code-unit) in the string. When in doubt, use [DOMString](https://webidl.spec.whatwg.org/#idl-DOMString).
- [`Text`](https://hackage.haskell.org/package/text-2.0/docs/Data-Text.html#g:2)
  > A [`Text`](https://hackage.haskell.org/package/text-2.0/docs/Data-Text.html#t:Text "Data.Text") value is a sequence of Unicode scalar values, as defined in [§3.9, definition D76 of the Unicode 5.2 standard](http://www.unicode.org/versions/Unicode5.2.0/ch03.pdf#page=35). As such, a [`Text`](https://hackage.haskell.org/package/text-2.0/docs/Data-Text.html#t:Text "Data.Text") cannot contain values in the range U+D800 to U+DFFF inclusive.

This means that Haskell's `Text` is really `USVString`, however `USVString` is only used for the [`rpId`](https://www.w3.org/TR/webauthn-2/#dom-publickeycredentialrequestoptions-rpid) field and extension inputs, everything else uses `DOMString`. This might be tricky to solve, because the aeson library uses `Text` underneath for strings.